<div style="background-color:#e9eaed;">
	<h1>여러분의 타임라인</h1>
	<div style="background-color: #ffffff; width=400px; border: 2px solid #d3d6db; padding: 10px; word-break:break-all;">
	<h3 style="color:navy;"><%=@writer%></h3>
	<p><%=@content%></p>
	</div><br>
	<a href="/wall/write">글쓰기</a>
</div>

