<h4><%=flash[:alert]%></h4>

<div style="background-color:#e9eaed;">
	<h1>글쓰기</h1>
	<form action="/wall/write_complete" method="post">
	이름 : <input type="text" name="writer" placeholder="당신의 이름은?"><br>
	내용 : <br>
	<textarea name="content" cols="40" rows="5" ></textarea>
	<input type="submit" value="전송">
	</form>
	</div>
