<div style="background-color: #e9eaed;">
	<h1> long in </h1>
	<form action="/user/login_complete" method="post">
		ID : <input type="text" name="username"><br>
		PW : <input type="password" name="passward"><br>
		<input type="submit" value="log in">
		</form>
		</div>

